<!--The content below is only a placeholder and can be replaced.-->
<p-card title="Redes Neurais Convolucionais"
        class="my-panel">
  <p-header>
  </p-header>
  <p id="textHeader">
    {{textoInicial()}}
  </p>
  <p-fileUpload name="myfile[]"
                customUpload="true"
                (uploadHandler)="myUploader($event)"
                accept="image/*"
                maxFileSize="1000000"
                chooseLabel="Escolher imagem">
  </p-fileUpload>
  <p-footer>
    Universidade Federal de Goiás
  </p-footer>
</p-card>

